* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    background: url('evening-sky.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-top: 14px;
}

/*-------------------------scrollbar-------------------*/
body::-webkit-scrollbar

/*SIZE*/
    {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: #1f2028;
}

body::-webkit-scrollbar-thumb {
    background-color: #161C24;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

/*----------------------Top----------------------------*/
nav {
    margin: auto;
    width: 95%;
    height: 38px;
    border-radius: 5px;
    background: #0A0A0F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
}

.box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 45px;
}

.box-icon .mn-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon .mn-box-icon svg {
    fill: rgba(239, 241, 245, 0.69);
}

.box-number {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.box-number .b-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    cursor: pointer;
    background: transparent;
}

.box-number p {
    color: rgba(239, 241, 245, 0.69);
    font-family: 'Fira Code';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box-number .b-item2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    background: rgba(89, 87, 96, 0.84);
    cursor: pointer;
    background: transparent;
}

.box-number .b-item3 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    background: rgba(89, 87, 96, 0.84);
    cursor: pointer;
    background: transparent;
}

.box-number .b-item4 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    background: rgba(89, 87, 96, 0.84);
    cursor: pointer;
}

.box-number .b-item5 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    background: rgba(89, 87, 96, 0.84);
    cursor: pointer;
    background: transparent;
}

.box-number .b-item6 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 19px;
    border-radius: 2px;
    background: rgba(89, 87, 96, 0.84);
    cursor: pointer;
    background: transparent;
}

.box-time {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.box-time p {
    color: rgba(239, 241, 245, 0.69);
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mn-box-icon {
    position: relative;
}

.big-status {
    position: absolute;
    z-index: 999;
    top: 52px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 11px;
    transition: 0.25s;
    opacity: 1;
}

.status {

    padding-top: 25px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 22px;
    width: 300px;
    height: 379px;
    border-radius: 22px;
    border: 1px solid rgba(248, 248, 248, 0.19);
    background: #1E1E2E;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.status .avt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.status .box-avt {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.status .avt .img {
    display: flex;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: 2px solid rgba(248, 248, 248, 0.19);
}

.img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.box-avt .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
}

.box-avt .name p {
    color: rgba(255, 255, 255, 0.67);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.box-btn {
    display: flex;
    column-gap: 9px;
    align-items: center;
}

.box-btn .btn-item {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #3F3D42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .volume {
    padding-left: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
}

.status .volume .head-phone {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.status .volume .mic {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.status .volume .music {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

/*---------Rage---------*/
.mic input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 169.003px;
    accent-color: #CAA6F9;
}

.mic input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.30);
    accent-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/******** Firefox ********/
.mic input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 2px;
    height: 1.5px;
}

.mic input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    border-radius: 11px;
    border: 1px solid #CAA6F9;
    background: #1E1E2E;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    /* Centers thumb on the track */
}

.mic input[type=range]::range-progress {
    background-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/*--------------------*/
/*---------Rage---------*/
.volume input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 169.003px;
    accent-color: #CAA6F9;
}

.volume input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.30);
    accent-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/******** Firefox ********/
.volume input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 2px;
    height: 1.5px;
}

.volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    border-radius: 11px;
    border: 1px solid #CAA6F9;
    background: #1E1E2E;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    /* Centers thumb on the track */
}

/*---------MUSIC ---------*/
.music input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 199px;
    accent-color: #CAA6F9;
}

.music input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.30);
    accent-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/******** Firefox ********/
.music input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 2px;
    height: 1.5px;
}

.music input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    border-radius: 11px;
    border: 1px solid #CAA6F9;
    background: #1E1E2E;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    /* Centers thumb on the track */
}

.setting {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.theme .light {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 29px;
    border-radius: 3px;
    background: #322F41;
}

.theme .tb {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 29px;
    border-radius: 3px;
    background: #C9A6F9;
}

.theme .dark {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 29px;
    border-radius: 3px;
    background: #C9A6F9;
}

.box-wifi {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.box-wifi .wifi {
    cursor: pointer;
    width: 123px;
    height: 28px;
    border-radius: 5px;
    background: #CAA6F9;
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
    justify-content: space-between;
    align-items: center;
}

.set-wifi {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.set-wifi .name-wifi {
    color: #1E1E2E;
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-wifi .bluetooth {
    cursor: pointer;
    width: 123px;
    height: 28px;
    border-radius: 5px;
    background: #CAA6F9;
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
    align-items: center;
}

.box-cafe {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.box-cafe .ki-thi {
    cursor: pointer;
    width: 123px;
    height: 28px;
    border-radius: 5px;
    background: #CAA6F9;
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
    justify-content: space-between;
    align-items: center;
}

.box-cafe .cafein {
    cursor: pointer;
    width: 123px;
    height: 28px;
    border-radius: 5px;
    background: #322F41;
    display: flex;
    padding-left: 13px;
    justify-content: space-between;
    align-items: center;
}

.name-cafein {
    color: #FFF;
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cafein .box-right-ar {
    width: 27px;
    height: 27px;
    border-radius: 0px 5px 5px 0px;
    background: #444253;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-2 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
}

.music-2 .box-show {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 10px;
    width: 100%;
}

.music-2 #name-music {
    color: rgba(255, 255, 255, 0.78);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.music-2 .play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.tus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 10px;

}

.tus .pin {
    display: flex;
    column-gap: 8px;
    align-items: end;
}

.tus #pin {
    color: #BBBBC0;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tus .thong-so {
    display: flex;
    align-items: center;
}

.tus .date {
    width: 57px;
    height: 11px;
    border-right: #6B6972 1.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tus .thong-so p {
    color: rgba(255, 255, 255, 0.70);
    font-family: Fira Code;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tus .day {
    width: 81px;
    height: 11px;
    border-right: #6B6972 1.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tus .time {
    width: 51px;
    height: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-tb {
    position: relative;
    width: 300px;
    height: 88px;
    border-radius: 13px;
    border: 1px solid rgba(248, 248, 248, 0.19);
    background: #1E1E2E;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-tb .chua-co-tb {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    justify-content: center;
    align-items: center;
}

.chua-co-tb p {
    color: rgba(255, 255, 255, 0.64);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

@-webkit-keyframes cssAnimation {
    from {
        top: 45px;
    }

    to {
        top: 52px;
    }

}

@-webkit-keyframes cssAnimation2 {
    from {
        top: 30px;
    }

    to {
        top: 35px;
    }

}

.animation-status {
    -webkit-animation-name: cssAnimation;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}

.animation-status2 {
    -webkit-animation-name: cssAnimation2;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}

.time-box {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
    position: absolute;
    width: 258px;
    z-index: 45;
    height: 135px;
    border-radius: 5px;
    background: rgba(18, 18, 26, 0.57);
    box-shadow: 0px 0px 10px 0px rgba(18, 18, 26, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.25;
}

.time-box:hover {
    cursor: pointer;
    border: 2px solid #B3ADDD;
}

.time-box:active {
    cursor: pointer;
    border: 2px solid #B3ADDD;
}

.time-box #timer {
    color: #A7E3A2;
    font-family: "square deal Regular";
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4px;
    font-display: none;

}

.time-box #day {
    color: #A7E3A2;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.music-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 19px;
    width: 224px;
    height: 377px;
    border-radius: 11px;
    border: 1px solid rgba(248, 248, 248, 0.19);
    background: #1E1E2E;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.music-box #img {
    background: url('https://i.ytimg.com/vi/GevVnzX2gro/maxresdefault.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 115px;
    height: 116px;
    border-radius: 8px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.name #name_music {
    color: #FFF;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.name #nameauthor {
    color: rgba(255, 255, 255, 0.86);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.2px;
}

.name #name_music_mini {
    color: rgba(255, 255, 255, 0.86);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.2px;
}

.music-box .btn_play {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.btn_play div {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #303041;
    cursor: pointer;
    transition: 0.25s;
}

.btn_play div:hover {
    transform: scale(0.95);
}

.set_sound {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

/*---------Rage---------*/
.music-box input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 124px;
    accent-color: #CAA6F9;
}

.music-box input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.30);
    accent-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/******** Firefox ********/
.music-box input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 2px;
    height: 1.5px;
}

.music-box input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -5px;
    border-radius: 11px;
    border: 1px solid #CAA6F9;
    background: #1E1E2E;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    /* Centers thumb on the track */
}

.music-box input[type=range]::range-progress {
    background-color: #CAA6F9;
    border-radius: 2px;
    height: 1.5px;
}

/*--------------------*/
.set_btn {
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set_btn .right {
    display: flex;
    column-gap: 9px;
}

.set_btn .right div {
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #303041;
}

.set_btn .left {
    display: flex;
    column-gap: 9px;

}

.set_btn .left div {
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #303041;
}

.music-box:hover {
    cursor: pointer;
    border: 1.5px solid #B3ADDD;
}

.music-box:active {
    cursor: pointer;
    border: 1.5px solid #B3ADDD;
}

.code-box {
    position: absolute;
    padding: 10px;
    width: 562px;
    height: 394px;
    border-radius: 5px;
    background: rgba(18, 18, 26, 0.64);
    box-shadow: 0px 0px 5px 0px rgba(18, 18, 26, 0.25);
    outline: none;
    color: #CDD6F4;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.code-box:focus {
    border: 1.5px solid #B3ADDD;
    outline: none;
    color: #CDD6F4;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.code-box p {
    color: #CDD6F4;
    font-family: Fira Code;
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.code-box:hover {
    cursor: pointer;
    border: 1.5px solid #B3ADDD;
}

.music-box:active {
    cursor: pointer;
    border: 1.5px solid #B3ADDD;
}


/*-------------NEW---------------*/
.calendar {
    position: absolute;
    top: 52px;
    left: 34px;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width: 261px;
    height: 612px;
    border-radius: 10px;
    border: 1px solid rgba(248, 248, 248, 0.01);
    border-top: 1px solid rgba(248, 248, 248, 0.19);
    background: #1E1E2E;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.calendar .avt-box {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    align-items: center;
    justify-content: center;
}

.calendar #avt {
    width: 109px;
    height: 108px;
    border-radius: 50%;
    border: 2px solid rgba(248, 248, 248, 0.19);
}

.calendar .hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar .hello p {
    color: rgba(255, 255, 255, 0.67);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
.calendar .calen {
    width: 247px;
    height: 272px;
    border-radius: 4px;
    background: #242331;
    margin-top: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    align-items: center;
}

.calendar .calen .month {
    display: flex;
    column-gap: 62px;
    align-items: center;
}

.calendar .calen #name_month {
    color: rgba(255, 255, 255, 0.67);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.calendar .date {
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.calendar .date p {
    color: rgba(255, 255, 255, 0.67);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.calendar .day {
    width: 197px;
    height: 173px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.calendar .day .week {
    width: 197px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.calendar .day p {
    color: rgba(255, 255, 255, 0.67);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.25s;
}

.calendar .day p:hover {
    color: #CAA6F9;
    font-size: 13px;
    cursor: pointer;
}

.choose-time {
    width: 247px;
    height: 109px;
    border-radius: 4px;
    background: #242331;
    margin-top: 5px;
    padding: 10px 12px;
}

.choose-time .tile {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#new-time {
    color: rgba(255, 255, 255, 0.47);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.time-item {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    row-gap: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s;
}

#time-head {
    color: rgba(255, 255, 255, 0.47);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.time-item:hover {
    transform: scale(1.2);
}

.time-item:active {
    transform: scale(1);
}

#time_item1 {
    color: rgba(255, 255, 255, 0.47);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

#time_item2 {
    color: rgba(255, 255, 255, 0.47);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

#time_item3 {
    color: rgba(203, 166, 247, 0.60);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

#time_item4 {
    color: rgba(255, 255, 255, 0.47);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.time-item #status {
    color: rgba(255, 255, 255, 0.65);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.edit-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-demo {
    position: absolute;
    z-index: 888;
    top: 35px;
    width: 200px;
    height: 39px;
    border-radius: 8px;
    background: #1E1E2E;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-demo {
    width: 117.969px;
    height: 23.878px;
    border-radius: 8px;
    background: #322F41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-demo .search-text {
    background-color: transparent;
    border: none;
    color: rgba(183, 182, 187, 0.75);
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    display: flex;

}

.search-text:focus {
    outline: none;
    background: #322F41;
}

.search-demo .btn-search2 {
    width: 34.219px;
    height: 23.878px;
    border-radius: 8px;
    background: #CAA6F9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.src-text {
    width: 117.969px;
    padding-right: 20px;
}

.bell-demo {
    cursor: pointer;
    width: 25px;
    height: 23.878px;
    border-radius: 9px;
    background: #322F41;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avt-demo {
    width: 29.688px;
    height: 27.857px;
    border-radius: 8px;
    border: 1px solid rgba(248, 248, 248, 0.32);

}

.avt-demo img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#diem-so {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 27px;
    width: 300px;
    height: 88px;
    border-radius: 13px;
    border: 1px solid rgba(248, 248, 248, 0.19);
    background: #1E1E2E;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    column-gap: 13px;
    display: flex;
    align-items: center;
}

#diemso .box-text {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    align-items: start;
}

.box-text #h-tile {
    color: #FFF;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-text #con-tile {
    color: rgba(255, 255, 255, 0.64);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

#num-tile {
    color: rgba(255, 255, 255, 0.64);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

/*---------NEW----------*/
#menu2 {
    z-index: 999;
    position: absolute;
    width: 181px;
    height: 223px;
    border-radius: 3px;
    background: #1E1E2E;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;

}

.menu_item {
    transition: 0.2s;
    width: 161px;
    height: 29px;
    display: flex;
    padding: 9px;
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}

.menu_item p {
    color: rgba(255, 255, 255, 0.78);
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu_item2 {
    cursor: pointer;
    padding: 9px;
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: space-between;
}

.menu_item2 p {
    color: #CAA6F9;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu_item:hover {
    background-color: #CAA6F9;
    color: #1E1E2E;
}

/*-----------------*/
body {
    position: relative;
}

#pop_u {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 11, 11, 0.67);
    opacity: 0;
}

#pop_u .content_box {
    width: 301px;
    height: 143px;
    border-radius: 3px;
    background: #1E1E2E;
    box-shadow: 0px 0px 150px 0px rgba(239, 241, 245, 0.11);
    padding-top: 11px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
    opacity: 0;
}

.pop-h {
    color: #BBBBC0;
    font-family: Fira Code;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pop-m {
    padding-top: 10px;
    width: 215px;
    color: #BBBBC0;
    text-align: center;
    font-family: Fira Code;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 21px;
}

.btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.btn_cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 32px;
    border-radius: 3px;
    background: #30303F;
    color: #BBBBC0;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn_log {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 31px;
    border-radius: 3px;
    background: rgba(202, 166, 249, 0.85);
    color: #1E1E2E;
    font-family: Fira Code;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn_cancel:hover {
    cursor: pointer;
    background: #3C3C4F;
}

.btn_cancel:active {
    cursor: pointer;
    background: rgba(48, 48, 63, 0.75);
}

.btn_log:hover {
    cursor: pointer;
    background-color: #E5CFFE;
}

.btn_log:active {
    cursor: pointer;
    background: rgba(202, 166, 249, 0.69);
}

@keyframes cssAnimation3 {
    from {
        opacity: 0;
        transition: all 0.3s ease-out;
    }

    to {
        opacity: 1;
    }

}

.animation-status5 {
    -webkit-animation-name: cssAnimation3;
    -webkit-animation: 0.3s ease-out;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes ZoomIn {
    from {
       
        transform: scale(0.8);
        opacity: 0;
    }

    to {
       
        transform: scale(1);
        opacity: 1;
    }

}

.animation-status6 {
    animation: ZoomIn 0.3s ease-out forwards;
}
@-webkit-keyframes ZoomOut {
    from {
       
        
        transform: scale(1);
        opacity: 1;
    }

    to {
       
        transform: scale(0.8);
        opacity: 0;
    }

}

.animation-status7 {
    animation: ZoomOut 0.29s ease-out forwards;
}
@-webkit-keyframes ZoomIn2 {
    from {
        opacity: 0;
    }

    to {
    
        opacity: 1;
    }

}

.animation-status8 {
    animation: ZoomIn2 0.3s ease-out forwards;
}

@-webkit-keyframes ZoomOut2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.animation-status9 {
    animation: ZoomOut2 0.32s ease-out forwards;
}
/*------------------SNEW -----------*/