@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Segoe UI-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/632d42142e19a92ebeed82db/fonts/segoe-ui.ttf")
    format("truetype");
}

@font-face {
  font-family: "Segoe UI-Semibold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/63485fb88ee4feae84ab3dea/fonts/seguisb.ttf")
    format("truetype");
}

@font-face {
  font-family: "Consolas-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64a840e02e0682f7a51c1ef8/fonts/ofont-ru_consolas.ttf")
    format("truetype");
}
